html {
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
}

body {
  opacity: 1;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  padding-bottom: 70px;
}

#name {
  padding-left: 5%;
  float:left;
  font-family: 'Amiko', sans-serif;
  color: black;
  font-weight: lighter;
  letter-spacing: 3px;
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
}


#intro {
  background-image: url("resources/images/pond.gif");
  border-radius: 10px;
  z-index: 5;
  opacity: 1;
  font-family: 'Roboto', sans-serif;
}

#get-started {
  padding-top: 60px;
}
